@model GestaoFinancasWeb.Models.Receita

<h2>Nova Receita</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Criar" method="post">
    <div class="form-group">
        <label>Descrição:</label>
        <input asp-for="Descricao" class="form-control" />
    </div>

    <div class="form-group">
        <label>Valor (€):</label>
        <input asp-for="Valor" type="number" step="0.01" class="form-control" />
    </div>

    <div class="form-group">
        <label>Data:</label>
        <input asp-for="Data" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label>Categoria:</label>
        <select asp-for="CategoriaNome" class="form-control"
                asp-items="@(new SelectList(ViewBag.ListaCategorias, "Nome", "Nome"))">
            <option value="">-- Selecione uma Categoria --</option>
        </select>
    </div>
    
    <br/>
    <button type="submit" class="btn btn-success">Guardar Receita</button>
    <a href="/Receitas" class="btn btn-secondary">Cancelar</a>
</form>