@model IEnumerable<GestaoFinancasWeb.Models.Receita>

<h2>As Minhas Receitas</h2>

<a href="/Receitas/Criar" class="btn btn-primary">Nova Receita</a>

<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.Descricao</td>
                <td>@item.Valor €</td>
                <td>@item.Data.ToShortDateString()</td>
                <td>@item.CategoriaNome</td> <td>
                    <a href="/Receitas/Editar/@item.Identificacao" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/Receitas/Eliminar/@item.Identificacao" class="btn btn-danger btn-sm">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>