@{
    ViewData["Title"] = "Entrar";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-4">Login</h3>

                @if (ViewBag.Erro != null)
                {
                    <div class="alert alert-danger">@ViewBag.Erro</div>
                }

                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label class="form-label">Utilizador</label>
                        <input name="username" class="form-control" required />
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" required />
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
                
                <hr />
                <div class="text-center">
                    <p>Ainda não tens conta?</p>
                    <a asp-action="Registar" class="btn btn-outline-secondary btn-sm">Criar Registo</a>
                </div>
            </div>
        </div>
    </div>
</div>